.fundraiser-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px gray;
}

.fundraiser-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.fundraiser-card h3 {
  margin: 10px auto;
}

.fundraiser-card a {
  text-decoration: none;
  color: black;
}
