@import "tailwindcss";

@import "tailwindcss";

/* Tailwind v4 theme tokens */
@theme {
  --color-pinky: #fd8892;
  --color-blueDeep: #445ef2;
  --color-blueBright: #417cf2;
  --color-blueSky: #85d3f2;
  --color-ink: #0d0d0d;
}
